<div class="home">
    <div class="top">
        <h3>HOME</h3>
        <a class="ser">
            <img src="image/search.png"/>
        </a>
    </div>
    <hr/>
    <div class="mid">
        <ul>
            <li data-type="1">
                <h3>新歌</h3>
            </li>
            <li data-type="2">
                <h3>热歌</h3>
            </li>
            <li data-type="11">
                <h3>摇滚</h3>
            </li>
            <li data-type="12">
                <h3>爵士</h3>
            </li>
            <li data-type="16">
                <h3>流行</h3>
            </li>
            <li data-type="21">
                <h3>欧美金曲</h3>
            </li>
            <li data-type="22">
                <h3>经典老歌</h3>
            </li>
            <li data-type="23">
                <h3>情歌对唱</h3>
            </li>
            <li data-type="24">
                <h3>影视金曲</h3>
            </li>
            <li data-type="25">
                <h3>网络歌曲</h3>
            </li>
        </ul>
    </div>
</div>

