<div class="top">
    <audio></audio>
    <div class="left">
        <a href="#" class="pic">
            <img src="" alt=""/>
        </a>
        <div>
            <h3></h3>
            <span></span>
        </div>
    </div>
    <div class="right">
        <button type="button" class="btn1"></button>
        <button type="button" class="btn2"></button>
        <button  class="btn3 paused" type="button"></button>
        <button type="button" class="btn4"></button>
    </div>
</div>
<div class="bot">
    <div class="line"></div>
</div>