<div class="play">
    <div class="top">
        <a class="back">
            <img src="image/back.png"/>
        </a>
        <div class="txt">
            <h3></h3>
            <p></p>
        </div>
        <a class="xxx fav">
            <img src="image/fav.png"/>
        </a>
        <a class="ser">
            <img src="image/search.png"/>
        </a>
    </div>
    <hr/>
    <div class="mid">
        <img src="image/stick.png" class="stick"/>
        <div>
            <img src="image/wrapper.png" class="back"/>
            <img src="" class="face"/>
        </div>
        <h3 class="txt"></h3>
    </div>
    <div class="bot">
        <div class="time">
            <span class="sp1">00:00</span>
            <span class="sp2">00:00</span>
            <div class="line1"></div>
            <div class="line2"></div>
        </div>
        <div class="but">
            <button type="button" class="btn1 rep"></button>
            <button type="button" class="btn2"></button>
            <button type="button" class="btn3 paused"></button>
            <button type="button" class="btn4"></button>
            <button type="button" class="btn5"></button>
        </div>
    </div>
</div>